@charset "UTF-8";
/* CSS Document */
/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*-----BODY -----*/
body {
  font-family: 'Ubuntu', sans-serif; }
  body a {
    color: #ffffff;
    text-decoration: none; }
  body a:hover {
    text-decoration: none; }

/*----- Wrapper -----*/
#wrapper, #header {
  max-width: 1500px;
  margin: auto; }

/*----- Container -----*/
#container {
  width: 100%;
  overflow: hidden; }

.transition {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.layer-overlay {
  position: absolute;
  background-image: linear-gradient(to top, #ab34c1, #9429bf, #7b20bd, #5d19ba, #3316b8); }

.hero {
  width: 100%;
  height: 400px;
  background-image: url(../img/ramiro-mendes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .hero .layer-overlay {
    width: 100%;
    height: 400px;
    opacity: .5; }
  .hero .hero-text {
    display: flex;
    color: white;
    font-size: 3em;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 400px;
    bottom: 100px; }
    .hero .hero-text .hero-text-elmt span:nth-child(2n+0) {
      border-bottom: 3px solid #ede232; }
    .hero .hero-text .hero-text-elmt span:nth-child(2n+1) {
      border-top: 3px solid #ede232; }
    .hero .hero-text .hero-text-elmt::after {
      content: "•";
      padding: 15px;
      color: #ede232; }
    .hero .hero-text .hero-text-elmt:last-child:after {
      content: none; }

#header {
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  z-index: 99;
  padding: 20px 5%; }
  #header .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 1; }
    #header .logo-container .logo {
      width: 100px;
      height: auto;
      display: block; }
      #header .logo-container .logo img {
        width: 100%;
        height: auto; }
    #header .logo-container .logo-name span {
      color: #ffffff; }
    #header .logo-container .boxIn {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
    #header .logo-container .boxOut {
      opacity: 0;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      -webkit-transition-delay: 500ms;
      -moz-transition-delay: 500ms;
      -ms-transition-delay: 500ms;
      -o-transition-delay: 500ms;
      transition-delay: 500ms; }
  #header .nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; }
    #header .nav-container .menu {
      display: inline-block; }
      #header .nav-container .menu ul {
        list-style-type: none;
        display: flex; }
        #header .nav-container .menu ul li {
          padding: 20px 10px; }
          #header .nav-container .menu ul li a::after {
            display: inline-block;
            font-size: 80%;
            font-weight: bold;
            padding: 0 3px; }
          #header .nav-container .menu ul li a:hover {
            color: #ede232; }

/*----- Content -----*/
.content {
  min-height: 500px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 40px 5%; }
  .content .info-section .info-box-container {
    display: flex;
    position: relative; }
    .content .info-section .info-box-container .info-element {
      width: calc(96% / 3);
      height: auto;
      display: block;
      position: relative;
      margin: 20px calc(4% / 3);
      border: 1px solid #bdc3c7;
      border-radius: .2em;
      box-shadow: 0px 0px 3px #9370db; }
      .content .info-section .info-box-container .info-element .info-element-header {
        width: 100%;
        height: 150px; }
        .content .info-section .info-box-container .info-element .info-element-header .layer-overlay {
          width: 100%;
          height: 150px;
          opacity: .5; }
      .content .info-section .info-box-container .info-element .info-element-body {
        padding: 30px 20px; }
        .content .info-section .info-box-container .info-element .info-element-body .info-element-text p {
          color: #34495e;
          line-height: 1.5;
          font-weight: lighter;
          text-align: center; }
        .content .info-section .info-box-container .info-element .info-element-body .info-btn {
          display: flex;
          justify-content: center;
          position: relative; }
          .content .info-section .info-box-container .info-element .info-element-body .info-btn a {
            color: #ab34c1;
            margin: 20px auto 10px;
            padding: 10px 20px;
            border: 1px solid #ab34c1;
            border-radius: .2em;
            overflow: hidden;
            position: relative; }
            .content .info-section .info-box-container .info-element .info-element-body .info-btn a .flash {
              width: 70px;
              height: 100px;
              position: absolute;
              background-color: #ede232;
              -ms-transform: rotate(35deg) translate(-120px, -30px);
              -webkit-transform: rotate(35deg) translate(-120px, -30px);
              transform: rotate(35deg) translate(-120px, -30px);
              -webkit-transition: transform 300ms linear;
              -moz-transition: transform 300ms linear;
              -o-transition: transform 300ms linear;
              transition: transform 300ms linear; }
            .content .info-section .info-box-container .info-element .info-element-body .info-btn a .activate-flash {
              -ms-transform: rotate(35deg) translate(40px, -30px);
              -webkit-transform: rotate(35deg) translate(40px, -30px);
              transform: rotate(35deg) translate(40px, -30px); }
    .content .info-section .info-box-container .bg-1, .content .info-section .info-box-container .bg-2, .content .info-section .info-box-container .bg-3 {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .content .info-section .info-box-container .bg-1 {
      background-image: url(../img/jj-ying.jpg); }
    .content .info-section .info-box-container .bg-2 {
      background-image: url(../img/dmitri-popov.jpg); }
    .content .info-section .info-box-container .bg-3 {
      background-image: url(../img/gem-lauris.jpg); }

@media (max-width: 575.98px) {
  .hero .hero-text {
    font-size: 1.5em; }

  .content .info-section .info-box-container {
    display: block; }
    .content .info-section .info-box-container .info-element {
      width: 90%;
      margin: 5%; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero-text {
    font-size: 2em; }

  .content .info-section .info-box-container {
    display: flex; }
    .content .info-section .info-box-container .info-element {
      width: calc(98% / 3);
      margin: 20px calc(2% / 3); } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero-text {
    font-size: 2.5em; }

  .content .info-section .info-box-container {
    display: flex; }
    .content .info-section .info-box-container .info-element {
      width: calc(96% / 3);
      margin: 20px calc(4% / 3); } }
@media (min-width: 1200px) {
  .hero .hero-text {
    font-size: 3em; }

  .content .info-section .info-box-container {
    display: flex; }
    .content .info-section .info-box-container .info-element {
      width: calc(92% / 3);
      margin: 20px calc(8% / 3); } }

/*# sourceMappingURL=style.css.map */
