/* CSS Document */

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-family: 'Ubuntu', sans-serif;

    a {
    	color: #ffffff;
    	text-decoration: none;
    }
    a:hover {
    	text-decoration: none;
    }

	p {
		color: #34495e;
		line-height: 1.5;
		font-weight: lighter;
	}

	section {
		padding: 40px 0;
	}
}

/*----- Wrapper -----*/
#wrapper, #header {
	max-width: 1500px;
	margin: auto;
}

/*----- Container -----*/
#container {
	width: 100%;
	overflow: hidden;
}

.transition {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	
}

.layer-overlay {
	position: absolute;
	background-image: linear-gradient(to top, #ab34c1, #9429bf, #7b20bd, #5d19ba, #3316b8);
}

.hero {
	width: 100%;
	height: 400px;
	background-image: url(../img/ramiro-mendes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
	position: relative;


	.layer-overlay {
		width: 100%;
		height: 400px;	
		opacity: .5;
	}

	.hero-text {
		display: flex;
	    color: white;
	    font-size: 3em;
	    position: relative;
	    justify-content: center;
	    align-items: flex-end;
	    width: 100%;
	    height: 400px;
    	bottom: 100px;

    	.hero-text-elmt {

		    span:nth-child(2n+0) {
		    	border-bottom: 3px solid #ede232;
		    }

		    span:nth-child(2n+1) {
				border-top: 3px solid #ede232;
			}
		}

		.hero-text-elmt::after {
			content: "•";
		   	padding: 15px;
		    color: #ede232;
	    }

		.hero-text-elmt:last-child:after {
			content: none;
		}

	}
}


#header {
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	z-index: 99;
	padding: 20px 5%;

	.logo-container {
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    position: absolute;
    	z-index: 1;

		.logo {
			width: 100px;
			height: auto;
			display: block;

			img {
				width: 100%;
				height: auto;
			}

		}

		.logo-name {

			span {
				color: #ffffff;
			}
		}

		.boxIn {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-o-transform: translateY(0px);
			transform: translateY(0px);
		}

		.boxOut {
			opacity: 0;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px);

			-webkit-transition-delay: 500ms;
			-moz-transition-delay: 500ms;
			-ms-transition-delay: 500ms;
			-o-transition-delay: 500ms;
			transition-delay: 500ms;
			
		}

	}

	.nav-container {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
     	position: relative;

		.menu {
		    display: inline-block;

		    ul {
			    list-style-type: none;
			    display: flex;

			    li {
				    padding: 20px 10px;

				    a::after {
					    display: inline-block;
					    font-size: 80%;
					    font-weight: bold;
					    padding: 0 3px;
					}

					a:hover {
				    	color: #ede232;
				    }
				}
			}
		}
	}
}



/*----- Content -----*/
.content {
	min-height: 500px;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 40px 5%;


	.info-section {

		.info-box-container {
			display: flex;
			position: relative;

			.info-element {
				width: calc(96% / 3);
				height: auto;
				display: block;
				position: relative;
				margin: 20px calc(4% / 3);
				border: 1px solid #bdc3c7;
				border-radius: .2em;
				box-shadow: 0px 0px 3px #9370db;
				

				.info-element-header {
					width: 100%;
					height: 150px;

					.layer-overlay {
						width: 100%;
						height: 150px;
						opacity: .5;
					}
				}

				.info-element-body {
					padding: 30px 20px;

					.info-element-text {

						p {
							text-align: center;
						}
					}

					.info-btn {
						display: flex;
						justify-content: center;
						position: relative;

						a {
							color: #ab34c1;	
							margin: 20px auto 10px;					
							padding: 6px 20px;
							border: 1px solid #ab34c1;
							border-radius: .2em;
							overflow: hidden;
							position: relative;

							.flash {
								width: 70px;
							    height: 100px;
							    position: absolute;
							    background-color: #ede232;
							    -ms-transform: rotate(35deg) translate(-120px, -30px);
							    -webkit-transform: rotate(35deg) translate(-120px, -30px);
							    transform: rotate(35deg) translate(-120px, -30px);

							    -webkit-transition: transform 300ms linear;
  								-moz-transition: transform 300ms linear;
  								-o-transition: transform 300ms linear;
  								transition: transform 300ms linear;
							}

							.activate-flash {
								-ms-transform: rotate(35deg) translate(50px, -30px);
							    -webkit-transform: rotate(35deg) translate(50px, -30px);
								transform: rotate(35deg) translate(50px, -30px);
							}
						}	
					}
				}
			}

			.bg-1, .bg-2, .bg-3 {
    			background-position: center;
    			background-size: cover;
			    background-repeat: no-repeat;
			}

			.bg-1 {
				background-image: url(../img/jj-ying.jpg);
			}

			.bg-2 {
				background-image: url(../img/dmitri-popov.jpg);
			}

			.bg-3 {
				background-image: url(../img/gem-lauris.jpg);
			}

		}
	}


	.subscribe-section {

		.layer-overlay {
			width: 100%;
			height: 100%;
			opacity: .5;
			position: relative;
		}

		.bg-subscribe {
			background-image: url(../img/jj-ying.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		    background-position: center;
			position: relative;
			padding: 0;
		}

		.subscribe-box-size {
			display: flex;
			width: 100%;
			height: 200px;		
		}
		
		.subscribe-box {
		    position: absolute;
		    height: auto;
		    top: 0;

			.subscribe-content {
				position: relative;
				text-align: center;
				padding: 20px;
				vertical-alignment: middle;
				

				.subscribe-header {
					width: 100%;
					
					h1 {
						font-size: 3em;
						color: #fff;
						margin: 20px auto;
					}
				}

				.subscribe-body {
					width: 100%;
					
					p {
						font-size: 14px;
						color: #fff;
					}

					.subscribe-btn {
						display: flex;
						justify-content: center;
						position: relative;

						a {
							color: #fff;	
							margin: 20px auto 10px;					
							padding: 6px 20px;
							border: 1px solid #fff;
							border-radius: .2em;
							overflow: hidden;
							position: relative;

							.flash {
								width: 70px;
							    height: 150px;
							    position: absolute;
							    background-color: #ede232;
							    -ms-transform: rotate(35deg) translate(-140px, -50px);
							    -webkit-transform: rotate(35deg) translate(-140px, -50px);
							    transform: rotate(35deg) translate(-140px, -50px);

							    -webkit-transition: transform 300ms linear;
  								-moz-transition: transform 300ms linear;
  								-o-transition: transform 300ms linear;
  								transition: transform 300ms linear;
							}

							.activate-flash {
								-ms-transform: rotate(35deg) translate(70px, -50px);
							    -webkit-transform: rotate(35deg) translate(70px, -50px);
								transform: rotate(35deg) translate(70px, -50px);
							}
						}	
					}
				}
			}
		}

	}


}



/*----- Footer -----*/
footer {
	border-top: 4px solid #9429bf;

	.social-icon {

		i {
			color: #9429bf;
			margin: 0 15px;
		}
	}

}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
	.hero {
		.hero-text {
		    font-size: 1.2em;
		}
	}

	.content {

		.info-section {

			.info-box-container {
				display: block;

				.info-element {
					width: 90%;
					margin: 5%;
				}
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  
	.hero {
		.hero-text {
		    font-size: 2em;
		}
	}

	.content {

		.info-section {

			.info-box-container {
				display: block;

				.info-element {
					width: 98%;
					margin: 20px 1%;
				}
			}
		}
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  
	.hero {
		.hero-text {
		    font-size: 2.5em;
		}
	}

	.content {

		.info-section {

			.info-box-container {
				display: flex;

				.info-element {
					width: calc(96% / 3);
					margin: 20px calc(4% / 3);
				}
			}
		}
	}

}

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) { 
	.hero {
		.hero-text {
		    font-size: 3em;
		}
	}

	.content {
		.info-section {

			.info-box-container {
				display: flex;

				.info-element {
					width: calc(92% / 3);
					margin: 20px calc(8% / 3);
				}
			}
		}
	}

 }


